{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
{% load plotly_dash %}
    <div class="{% plotly_class name='part_3_2' %} card" style="height: 100%; width: 100%;">
        {% plotly_app name='part_3_2' ratio=0.65 %}
    </div>
{% else %}
    <h4>You have to login to see this dashboard, you have to log in, please click
        <span><a class="text-danger" href={% url 'login'%}>here</a></span></h4>

{% endif %}
    <br>
    {{ plot | safe }}
    <br>

{% endblock %}